CMakeLists.txt.user
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
out/
out/*
linDebug-make-build/
linDebug-make-build/*
winDebug-msvc-build/
winDebug-msvc-build/*
winRelease-ninja-build/
winRelease-ninja-build/*
.vs/
.vs/*
.vscode/
.vscode/*
.idea/
.idea/*
cmake-build-debug/
cmake-build-debug/*
